.address-nav {
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin-right: 70px;
            width: 231px;
            text-align: left;
        }
}


.address__link {
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    color: $white-color-60transp;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color $main-transition;
    
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.maps {
    color: $primary-white-color;
}

.address-list__item:not(:last-child) {
    
        @media screen and (max-width: 1199px) {
            margin-bottom: 8px;
        }
    
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin-bottom: 9px;
        }
    
}
