.feature {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; 
        gap: 30px;
        display: flex;
     @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
    }


.feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: $light-gray-color;
    margin-bottom: 30px;
    @media screen and (max-width: 1199px) {
        padding-top: 25px;
        padding-bottom: 25px;

    }
    @media screen and (min-width: 1200px) {
            height: 120px;
        }
}

.feature__item {
    width: 100%;
    &:last-child {
        margin-right: 0px;
    }
    }
    
    @media screen and (min-width: 768px) {
        .feature__item {
            width: calc((100% - 30px) / 2);
        }

    }
    
    @media screen and (min-width: 1200px) {
        .feature__item {
            width: calc((100% - 90px) / 4);
        }
         
    }



.feature__title {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
            max-width: 480px;
            margin-bottom: 10px;
    
        }
    
        @media screen and (min-width: 768px) {
            max-width: 769px;
        }
    
        @media screen and (min-width: 1600px) {
            margin-bottom: 13px;
    
        }
}

.feature__descript {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
}