.mail-field {
    width: 100%;
    align-items: center;
    display: flex;
    display: inline-block;
    margin-left: auto;
    
    @media screen and (max-width: 1199px) {
        margin-right: auto;
    }
    
    @media screen and (min-width: 1200px) {
        align-items: end;
    }
}

.mail-sub {
    width: 100%;
    @media screen and (min-width: 1200px) { 
        @include centeredFlex;
        gap: 12px;
    }
}


.mail-input {
    display: flex;
    margin-bottom: 20px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: $white-color-60transp;
    
    &:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    }
    @media screen and (max-width: 480px) {
        align-items: center;
        width: 100%;
         } 
    @media screen and (min-width: 480px) {
        align-items: center;
        width: 450px;
        
    }
    
    @media screen and (min-width: 1200px) {
        width: 358px;
        padding-left: 16px;
        margin-bottom: 0;
    }
}

.mail-sub__link {
    @include centeredFlex;
    margin-left: auto;
    margin-right: auto;
   
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $primary-white-color;
    text-decoration: none;
    letter-spacing: 0.06em;
    gap: 12px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color $main-transition;
    &:hover,
    &:focus {
        background-color: $accent-color-active;
    }
}

.mail-sub__icon {
    fill: $primary-white-color;
    align-items: center;
    justify-content: center;
    transition: fill $main-transition;
}