.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    padding: 48px 40px;
}

.mob-menu>.container {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
}


.close__icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 15px;
    transition: color $main-transition;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}


.mob-menu__link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    &--current,
    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contact-mob-menu .email {
    font-size: 24px;
}





.contact-mob-menu__link {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 10px;
    transition: color $main-transition;
    transition: fill $main-transition;

    &:hover,
    &:focus {
        color: $accent-color;
}
}


.social-menu {
    display: flex;
    gap: 20px;
}

.social-menu__link {
    @media screen and (max-width: 767px) {
        text-decoration: none;
        color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        transition: color $main-transition;
    }
    &:hover,
    &:focus {
        color: $accent-color-active;
    }
}

.social-menu__item:not(:last-child) {
    position: relative;
}

.social-menu__item:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -10px;
    top: 0;
    color: rgba(33, 33, 33, 0.2);
}

.social-menu {
    @include centeredFlex;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.menu__icon {
    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mob-menu-list {
    margin-bottom: auto;

}

.menu__open {
    height: 40px;
}

.contact-mob-menu .phone {
    color: $accent-color;
}
.contact-mob-menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.contact-mob-menu {
    margin-bottom: 64px;
}