.portfolio-nav {
    
    display: flex;
    @media screen and (max-width: 767px) {
        max-width: 400px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }
        
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}


.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }


.project__description {
    font-size: 16px;
    line-height: 1.88;
    color: $secondary-text-color;
}

.project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: $primary-text-color;
}

.project__link {
    transition: box-shadow $main-transition;
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

.project__name {
    padding: 20px 24px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: 0;
}


.project__item {
width: 100%;
@media screen and (min-width: 768px) {
        width: calc((100% -  30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * 30px) / 3);
    }
            
}

.project__thumb {
    position: relative;
    overflow: hidden;
    
}

.text-overlay {
    color: $primary-white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    transition: transform $main-transition, opacity $main-transition;
    .project__link:hover & {
        transform: translateY(0);
        opacity: 1;
    }
}


.project__image {
        width: 100%;
    }
