.team-member__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 10px;
}

.team {
    background-color: $light-gray-color;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

    

.team-member__position {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.187;
    margin-bottom: 16px;
}

.team-member {
    padding-top: 30px;
    
    @media screen and (max-width: 1199px) {
        padding-bottom: 24px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
    }
}

.member-card {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 480px) {
            flex-wrap: wrap;  
        }
    @media screen and (min-width: 1200px) {
        @include centeredFlex;
        }
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            gap: 30px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

.member-card:not(:last-child){
        margin-bottom: 30px;
 }

.member-card__item {
    width: 100%;
    background-color: $primary-white-color;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 768px) {
        width: 100%;
        width: calc((100% -  30px) / 2);
        }
    
    @media screen and (min-width: 1200px) {
        width: 100%;
        display: inline-block;
        width: calc((100% - 3 * 30px) / 4);
    }

        .member-card__item:last-child {
            margin-right: 0;
        }
}


.team-social {
    @include centeredFlex;
}

.team-social__item {
    align-items: center;
    &:not(:first-child) {
        margin-left: 10px;
    }
}

.team-social__link {
    width: 44px;
    height: 44px;
    background: $primary-white-color;
    border-radius: 50%;
    @include centeredFlex;
    transition: background-color $main-transition;
    &:hover,
    &:focus {
            background-color: $accent-color;
    }
    &:hover svg,
    &:focus svg {
        fill: $primary-white-color;
    }
}

.team-social__icon {
    fill: $social-icons-grey;
    transition: fill $main-transition;
}

