$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$accent-color-active: #188CE8;
$primary-white-color: #FFFFFF;
$light-gray-color: #F5F4FA;
$dark-gray-color: #2F303A;
$white-color-60transp: #FFFFFF99;
$social-icons-grey: #afb1b8;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);